<div class="tab-pane fade in active" ng-submit="dateVm.select(date)">
    <h6>Date confirmation</h6>
    <form role="form">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="notes">Enter date</label>
                    <input type="text" class="form-control" id="notes" placeholder="MM-DD-YYYY" ng-model="dateVm.date">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn large-btn btn-primary" value="changereserve">Submit</button>
        </div>
    </form>
</div>