<div class="tab-pane fade in active">
    <h6>By date</h6>

    <div>
        <label for="Search">Search Here</label>
        <input type="text" class="form-control" id="text" placeholde="Search text" ng-model="daterVm.searchTxt" >
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><a href="#"/> First Name </th>
                    <th> Date </th>
                    <th> Calls </th>
                    <th> SUB1 </th>
                    <th> SUB2 </th>
                    <th> SUB3 </th>
                    <th> SUB4 </th>
                    <th> TOTAL SUBS </th>
                <tr>
                </thead>
                <tbody>
                <tr ng-repeat ="d in daterVm.report | filter:daterVm.searchTxt">
                    <td><a href="#/dayreport/{{d.date}}/{{d.firstName}}"/>{{d.firstName}}</td>
                    <td>{{d.date}}</td>
                    <td>{{d.calls}}</td>
                    <td>{{d.sub1}}</td>
                    <td>{{d.sub2}}</td>
                    <td>{{d.sub3}}</td>
                    <td>{{d.sub4}}</td>
                    <td> <strong> {{d.sub1+ d.sub2 + d.sub3 + d.sub4}} </strong></td>
                </tr>

            </table>


        </div>
    </div>