<div class="tab-pane fade in active">
    <h6>{{ dayVm.report.firstName}} Day Report on {{ dayVm.report.date}}</h6> <br> <br>

    <div class="row">
        <div class="col-sm-6">
            <label>Calls : {{ dayVm.report.calls}}</label>
        </div>
        <div class="col-sm-6">
            <label>Total Submission : {{ dayVm.report.sub1 + dayVm.report.sub2+ dayVm.report.sub3+ dayVm.report.sub4}}</label>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <label>Recruiter 1 : {{ dayVm.report.recrut1}}</label>
        </div>
        <div class="col-sm-6">
            <label>Submissions : {{ dayVm.report.sub1}} </label>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label>Report:  {{ dayVm.report.report1}} </label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <label>Recruiter 2 : {{ dayVm.report.recrut2}}</label>
        </div>
        <div class="col-sm-6">
            <label>Submissions : {{ dayVm.report.sub2}} </label>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label>Report:  {{ dayVm.report.report2}} </label>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-6">
            <label>Recruiter 3 : {{ dayVm.report.recrut3}}</label>
        </div>
        <div class="col-sm-6">
            <label>Submissions : {{ dayVm.report.sub3}} </label>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label>Report:  {{ dayVm.report.report3}} </label>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-6">
            <label>Recruiter 4 : {{ dayVm.report.recrut4}}</label>
        </div>
        <div class="col-sm-6">
            <label>Submissions : {{ dayVm.report.sub4}} </label>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label>Report:  {{ dayVm.report.report4}} </label>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <label>Final Comment:  {{ dayVm.report.supplement}} </label>
        </div>
    </div>


</div>