<div class="tab-pane fade in active">
    <h6>Over all Report</h6>

    <div>
        <label for="Search">Search Here</label>
        <input type="text" class="form-control" id="text" placeholde="Search text" ng-model="overallrVm.searchTxt" >
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><a href="#"/> First Name </th>
                    <th> Date </th>
                    <th> Calls </th>
                    <th> SUB1 </th>
                    <th> SUB2 </th>
                    <th> SUB3 </th>
                    <th> SUB4 </th>
                    <th> TOTAL SUBS </th>
                <tr>
                </thead>
                <tbody>
                <tr ng-repeat ="o in overallrVm.report | filter:overallrVm.searchTxt">
                    <td><a href="#/dayreport/{{o.date}}/{{o.firstName}}"/>{{o.firstName}}</td>
                    <td>{{o.date}}</td>
                    <td>{{o.calls}}</td>
                    <td>{{o.sub1}}</td>
                    <td>{{o.sub2}}</td>
                    <td>{{o.sub3}}</td>
                    <td>{{o.sub4}}</td>
                    <td> <strong> {{o.sub1+ o.sub2 + o.sub3 + o.sub4}} </strong></td>
                </tr>

            </table>


        </div>
    </div>