<div class="tab-pane fade in active">
    <h6>Reservations</h6>
    <nav>
        <ul class="pager">
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    <div>
        <label for="Search">Search Here</label>
        <input type="text" class="form-control" id="text" placeholde="Search text" ng-model="overallVm.searchTxt" >
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><a href="#"/> First name </th>
                    <th> Date</th>
                    <th> calls </th>


                <tr>
                </thead>
                <tbody>
                <tr ng-repeat ="o in overallVm.report | filter:overallVm.searchTxt">
                    <td><a ng href="#/overall/{{o.firstName}}">{{o.firstName}}</td>
                    <td>{{o.date}}</td>
                    <td>{{o.calls}}</td>

                </tr>


            </table>
        </div>
    </div>



</div>