<div class="tab-pane fade in active" ng-controller="ConsultController as consultVm">
                <h6>Recruiting Report</h6>
                <form role="form"  ng-submit="consultVm.addReport(report)">
<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" ng-model="report.firstName">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" ng-model="report.lastName">
        </div>
    </div>
</div>
<div class ="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" class="form-control" id="date" placeholder="MM-DD-YYYY" ng-model="report.date">
            <label>Please follow exact date format</label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="calls1">Number of calls Received</label>
            <input type="number" class="form-control" id="calls1" placeholder="# calls" ng-model="report.calls">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="rname1">Recruiter Name 1 </label>
            <input type="text" class="form-control" id="rname1" placeholder="Enter Recruiter Name" ng-model="report.recrut1">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="sub1">Number of submissions</label>
            <input type="number" class="form-control" id="sub1" placeholder="# subs" ng-model="report.sub1">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="report1">report </label>
            <input type="text" class="form-control" id="report1" placeholder="Enter report" ng-model="report.report1">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="rname2">Recruiter Name 2 </label>
            <input type="text" class="form-control" id="rname2" placeholder="Enter Recruiter Name" ng-model="report.recrut2">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="sub2">Number of submissions</label>
            <input type="number" class="form-control" id="sub2" placeholder="# subs" ng-model="report.sub2">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="report2">report </label>
            <input type="text" class="form-control" id="report2" placeholder="Enter report" ng-model="report.report2">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="rname3">Recruiter Name 3 </label>
            <input type="text" class="form-control" id="rname3" placeholder="Enter Recruiter Name" ng-model="report.recrut3">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="sub3">Number of submissions</label>
            <input type="number" class="form-control" id="sub3" placeholder="# subs" ng-model="report.sub3">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="report3">report</label>
            <input type="text" class="form-control" id="report3" placeholder="Enter report" ng-model="report.report3">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="rname4">Recruiter Name 4 </label>
            <input type="text" class="form-control" id="rname4" placeholder="Enter Recruiter Name" ng-model="report.recrut4">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="sub4">Number of submissions</label>
            <input type="number" class="form-control" id="sub4" placeholder="# subs" ng-model="report.sub4">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="report4">report </label>
            <input type="text" class="form-control" id="report4" placeholder="Enter report" ng-model="report.report4">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="notes">Supplementary</label>
            <input type="text" class="form-control" id="notes" placeholder="Any Additional needs like decorations or special needs etc" ng-model="report.supplement">
        </div>
    </div>
</div>
<div class="text-center">
    <button type="submit" class="btn large-btn btn-primary" value="report">Report</button>
</div>
</form>

</div>
